<div align="center">
    <form (submit)="signUp()">

        <h1>USER REGISTRATION</h1>
        <table>
            <tr>
                <th>first name</th>
                <td><input type="text" name="firstName" [(ngModel)]="form.data.firstName" placeholder="enter first name"></td>
            </tr>
            <tr>
                <th>last name</th>
                <td><input type="text" name="lastName" [(ngModel)]="form.data.lastName" placeholder="enter last name"></td>
            </tr>
            <tr>
                <th>login</th>
                <td><input type="text" name="login" [(ngModel)]="form.data.login" placeholder="enter login"></td>
            </tr>
             <tr>
                <th>password</th>
                <td><input type="text" name="password" [(ngModel)]="form.data.password" placeholder="enter password"></td>
            </tr>
             <tr>
                <th>dob</th>
                <td><input type="date" name="dob" [(ngModel)]="form.data.dob" placeholder="enter dob"></td>
            </tr>
             <tr>
                <th>address</th>
                <td><input type="text" name="address" [(ngModel)]="form.data.address" placeholder="enter address"></td>
            </tr>
             <tr>
                <th></th>
                <td><input type="submit" value="signUp"></td>
            </tr>
        </table>

    </form>

</div>